body {
    font-family: 'Inter', Arial, sans-serif;
  background-color: lightgrey;
  color: #fff;
  margin: 0;
  padding: 0;
}

.hero-section {
  font-family: 'Inter', Arial, sans-serif;
  background-color: white;
  color: #000;
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, #ffffff 0%, rgba(0,80, 0, 1) 90%);
  display: flex;
  align-items: center;
  gap: 2rem;
}

.hero-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: start;
    padding: 4rem 2rem;
}

.hero-title {
    font-size: 3rem;
    font-weight: bold;
    text-align: start;
    margin-top: 2rem;
    color: #000;
}

.hero-description {
    font-size: 1.25rem;
    align-self: flex-start;
    text-align: left;
    margin: 1rem 0 2rem;
    max-width: 600px;
    color: #000;
}

.hero-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.hero-image {
    width: 800px;
    height: auto;
}

.hero-logo {
    width: 150px;
    height: auto;
    margin-bottom: 2rem;
}

.btn-primary {
    background-color: #000;
    color: #fff;
    padding: 0.8rem 1.6rem;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.25s ease;
    border: none;
    text-decoration: none;
    display: inline-block;
}