body {
    font-family: 'Inter', Arial, sans-serif;
  background-color: lightgrey;
  color: #fff;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: rgb(0, 80, 0);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, rgba(0, 50, 0, 1) 0%, rgba(0, 80, 0, 1) 100%);
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.navbar-logo img {
    height: 60px;
}

.navbar-menu a {
    gap: 2rem;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    position: relative;
}

.hero-section {
  font-family: 'Inter', Arial, sans-serif;
  background-color: white;
  color: #000;
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, #ffffff 0%, #636363 100%);
}

.hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: start;
    padding: 4rem 2rem;
}

.hero-title {
    font-size: 3rem;
    font-weight: bold;
    text-align: start;
    margin-top: 2rem;
    color: #000;
}

.hero-description {
    font-size: 1.25rem;
    text-align: start;
    margin: 1rem auto 2rem;
    max-width: 600px;
    color: #000;
}

.hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: auto;
}

.btn-primary {
    background-color: #000;
    color: #fff;
    padding: 0.8rem 1.6rem;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.25s ease;
    border: none;
    text-decoration: none;
    display: inline-block;
}